:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87); 
  background-color: white;
  text-align: center;
  margin-top: 0%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

html, body, #root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin-top:0%;
}

.main-content{
  min-height: 100vh;
}